
# Ignore Python 3 Environment
__pycache__/

# Ignore VSCode Settings
.vscode/

# Ignore PyCharm Project Configurations
.idea/

.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints
